*{
font-family: sans-serif;
}
body{
    background: linear-gradient(125deg,skyblue,cyan,rgb(48, 68, 255),indigo);
}
.title{
    color: lime;
    text-shadow: 0 0 10px green,0 0 15px gray;
}
.flex{
    display: flex;
    
}

h3{
    margin-left: 10%;
    font-size:25px ;
}
.liste{
    display: flex;
    width: 75%;
    margin-top: 1%;
    margin-left: 8%;
    cursor: pointer;
}
.liste .item{
    display: flex;
    
}
.liste .item h3{
    
   color:white;
   text-shadow: 0 0 10px green,0 0 15px gray;
   
}
.liste .item img{
    width: 30%;
    height:50%;
    margin-left: -10%;
    margin-right:-8%;
}
center{
    margin-left:12%;
}